.btnAdd {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.btnAdd button {
  background-color: rgb(14, 165, 215);
  color: rgb(234, 229, 229);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 18px;
}

.btnAdd button:hover {
  background-color: rgb(0, 86, 179);
}

.btnAdd h6 {
  font-size: 20px;
  font-weight: bold;
}
